*{
	margin:0;
	padding:0;
}
body{
	
}
.row1, .row2, .row3, .row4, .row5, .row6{
	min-height:100px;
}
.row1{
	background:lightgray;
}
.row2{
	background:#fff;
}
.row3{
	background:skyblue;
}
.row4{
	background:cyan;
}
.row5{
	background:green;
}
.row6{
	background:yellow;
}
.innerbox{
	background:blue;
	width:80px;
	height:80px;
	position:relative;
	top:10px;
	left:10px;
}
.textbox{
	padding:50px;
	font-size:30px;
	width:100%;
	text-align:center;
}
.innertext{
	text-align:left;
}